{% load static %}



<div class="foot_about" id="about_us">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12"><img src="{% static 'img/logo.png' %}" alt="" class="logo"></div>
				<div class="col-md-6 col-xs-12">
					<div class="title">Biz Haqimizda</div>
					<p>News – bu tezkor va ishonchli yangiliklar manbai. Bizning maqsadimiz – o‘quvchilarga mahalliy va xalqaro voqealar, siyosat, iqtisod, texnologiya, sport hamda madaniyat sohalaridagi eng muhim yangiliklarni aniq va xolis tarzda yetkazishdir.
						Biz bilan – dunyo yangiliklaridan birinchilardan bo‘lib xabardor bo‘ling!  Javokhir Kuldashev tomonidan yaratilgan </p>
				</div>
				<div class="col-md-3 col-xs-12 text-right">
					<ul class="social">
						<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						<li><a href="#"><span class="fa fa-telegram"></span></a></li>
						<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<ul class="menu">
				<li><a href="#">о нас</a></li>
				<li><a href="#">контакты</a></li>
				<li><a href="#">редакционная</a></li>
				<li><a href="#">ОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a></li>
				<li><a href="#">СОГЛАШЕНИЕ</a></li>
			</ul>
			<div class="copyright">
				© Javokhir Kuldashev 2025 <a href="#"></a>
			</div>
		</div>
	</footer>